* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Variable', sans-serif;
}

body {
  background-color: #05384D;
  padding: 20px;
  padding-bottom: 5px;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  flex-wrap: wrap;
}

header h1 {
  font-family: 'Syncopate', sans-serif;
  width: 50%;
}

header nav {
  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

header nav ul li {
  padding: 10px 30px;
  transition: 300ms all;
  border-radius: 5px;
}

header nav ul li:hover {
  cursor: pointer;
  background-color: #6BD089;
}

main {
  margin: 40px 0 30px 0;
}

form {
  display: flex;
  flex-direction: column;
}

form input[type="submit"] {
  margin: 0 auto;
  margin-top: 15px;
  width: 40%;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  background-color: #6BD089;
  transition: 300ms all;
  color: white;
}

form input[type="submit"]:hover {
  cursor: pointer;
  background-color: #96DDAB;
}

textarea {
  height: 300px;
  resize: none;
  border-radius: 5px;
  padding: 10px;
}

.translationContainer,
.langSelectorContainer {
  display: flex;
  margin: 0 auto;
  gap: 30px;
  justify-content: space-around;
  width: calc(70% + 110px);
}

.langSelectorContainer {
  margin-bottom: 20px;
}

.exchangeLangIcon {
  scale: 1.3;
  margin-top: 30px;
}

.exchangeLangIcon:hover {
  cursor: pointer;
}

.languageSelector {
  text-align: center;
}

.languageSelector label {
  display: block;
  margin-bottom: 5px;
}

.languageSelector select {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.translationSection {
  width: 50%;
}

.translationSection textarea {
  width: 100%;
}

.loaderContainer {
  display: block;
  width: 70%;
  margin: 0 auto;
}

.loaderContainer label {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.progressContainer {
  background-color: #0D7DAB;
  border-radius: 5px;
}

.progressBar {
  background-color: #96DDAB;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}

footer {
  text-align: right;
}

@media (max-width: 768px) {

  header {
    justify-content: center;
    gap: 20px;
    padding: 0;
  }

  header h1,
  header nav {
    width: 100%;
    text-align: center;
  }

  .translationContainer,
  .langSelectorContainer {
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .langSelectorContainer {
    gap: 20px;
  }

  .translationSection {
    width: calc(100% - 30px);
  }

  .exchangeLangIconContainer {
    text-align: center;
  }

  .exchangeLangIcon {
    margin-top: 0;
    rotate: 90deg;
  }

  .loaderContainer {
    width: 100%;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 550px) {
  header nav ul {
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 440px) {
  .progressBar {
    font-size: .7rem;
  }
}